Clipboard.txt
[{"id":"882a9ede.326bc","type":"inject","z":"b37ec059.edbac","name":"","topic":"test","payload":"","payloadType":"date","repeat":"","crontab":"","once":false,"x":195,"y":203,"wires":[["32c65b41.7b89b4"]]},{"id":"32c65b41.7b89b4","type":"function","z":"b37ec059.edbac","name":"function","func":"//function getRandom() {\n//  return Math.random()*(100+1)+1;\n//}\n\ncontext.global.random = function(){\n    return Math.ceil(Math.random()*(100-1)+1);\n    \n};\nmsg.payload = context.global.random();\nmqtt = context.global.random();\nreturn msg;","outputs":1,"noerr":0,"x":417,"y":202,"wires":[["5f338592.90e72c","719b8d45.c90a84"]]},{"id":"5f338592.90e72c","type":"debug","z":"b37ec059.edbac","name":"payload","active":true,"console":"true","complete":"payload","x":602,"y":202,"wires":[]},{"id":"719b8d45.c90a84","type":"mqtt out","z":"b37ec059.edbac","name":"servo_test","topic":"Servo","qos":"0","retain":"","broker":"dd404c5f.82b6a","x":626,"y":325,"wires":[]},{"id":"bd8f5319.651cb","type":"mqtt in","z":"b37ec059.edbac","name":"","topic":"Temp","qos":"2","broker":"dd404c5f.82b6a","x":156,"y":110,"wires":[["68ae30cf.8415e"]]},{"id":"68ae30cf.8415e","type":"debug","z":"b37ec059.edbac","name":"","active":true,"console":"false","complete":"false","x":425,"y":110,"wires":[]},{"id":"dd404c5f.82b6a","type":"mqtt-broker","z":"","broker":"localhost","port":"1883","clientid":"","usetls":false,"compatmode":true,"keepalive":"60","cleansession":true,"willTopic":"Servo","willQos":"0","willPayload":"","birthTopic":"Servo","birthQos":"0","birthPayload":""}]