Clipboard.txt
[{"id":"82c14c70.b344","type":"inject","z":"e917afa0.6c22f","name":"","topic":"test","payload":"","payloadType":"date","repeat":"","crontab":"","once":false,"onceDelay":"","x":260,"y":440,"wires":[["b1400b9b.c179e8"]]},{"id":"b1400b9b.c179e8","type":"function","z":"e917afa0.6c22f","name":"function","func":"//function getRandom() {\n//  return Math.random()*(100+1)+1;\n//}\n\ncontext.global.random = function(){\n    return Math.ceil(Math.random()*(100-1)+1);\n    \n};\nmsg.payload = context.global.random();\nmqtt = context.global.random();\nreturn msg;","outputs":1,"noerr":0,"x":482,"y":439,"wires":[["55ad00cd.03109","f61f5625.ee3ec8"]]},{"id":"55ad00cd.03109","type":"debug","z":"e917afa0.6c22f","name":"payload","active":false,"console":"true","complete":"payload","x":667,"y":439,"wires":[]},{"id":"f61f5625.ee3ec8","type":"mqtt out","z":"e917afa0.6c22f","name":"servo_test","topic":"Servo","qos":"0","retain":"","broker":"fe38254b.5b23d8","x":691,"y":562,"wires":[]},{"id":"d1b5f5e.4595408","type":"mqtt in","z":"e917afa0.6c22f","name":"","topic":"Temp","qos":"2","broker":"fe38254b.5b23d8","x":221,"y":347,"wires":[["ebc51621.970098","661fa0dc.ae511"]]},{"id":"ebc51621.970098","type":"debug","z":"e917afa0.6c22f","name":"","active":true,"console":"false","complete":"false","x":490,"y":347,"wires":[]},{"id":"661fa0dc.ae511","type":"ui_gauge","z":"e917afa0.6c22f","name":"","group":"379108a7.55ca98","order":1,"width":0,"height":0,"gtype":"gage","title":"gauge","label":"units","format":"{{value}}","min":0,"max":"50","colors":["#00b500","#e6e600","#ca3838"],"seg1":"","seg2":"","x":470,"y":280,"wires":[]},{"id":"fe38254b.5b23d8","type":"mqtt-broker","z":"","broker":"localhost","port":"1883","clientid":"","usetls":false,"compatmode":true,"keepalive":"60","cleansession":true,"birthTopic":"Servo","birthQos":"0","birthPayload":"","willTopic":"Servo","willQos":"0","willPayload":""},{"id":"379108a7.55ca98","type":"ui_group","name":"Group 1","tab":"adcb39bd.5ddb68","order":1,"disp":true,"width":6},{"id":"adcb39bd.5ddb68","type":"ui_tab","z":"","name":"Tab 1","icon":"dashboard","order":1,"disabled":false,"hidden":false}]